* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    width: 95vw;
}
.job {
    height: 25vh;
    border: 1px solid gray;
}

#prev-page,
#next-page {
    position: fixed;
    bottom: 50vh;
    color: white;
    font-size: 50px;
    font-weight: 700;
    color: black;
}
#prev-page {
    left: 0.5vw;
}
#next-page {
    right: 0.5vw;
}
#prev-page:hover,
#next-page:hover {
    font-size: 60px;
    bottom: 49vh;
    cursor: pointer;
}

#prev-page:hover {
    left: 0.3vw;
}
#next-page:hover {
    right: 0.3vw;
}
#page-count {
    position: absolute;
    right: 2vw;
    top: 1vh;
    font-size: 20px;
    color: black;
}
